/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burguer-builder-area {
    width: 600px;   
}

.burguer-builder-area-draw {
  height: 400px;
}

.burguer-builder-area .buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ddd;
  margin-bottom: 35px;
}

.burguer-builder-area .buttons button {
  padding: 15px;
  background-color: rgb(177, 177, 177);
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}

.burguer-builder-area .buttons button:hover {
  padding: 15px;
  color: white;
  background-color: rgb(95, 94, 94);;
}


.logo {
  background-color: white;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

.logo img {
  height: 100%;
}

.info-area {
  display: flex;
  flex-direction: column;
}

.info-area .field {
  font-size: 14px;
  color: #aaa;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.info-area label {
  font-size: 14px;
  color: #aaa;
}

.info-area input {
  font-size: 14px;
  color: #aaa;
  padding: 10px;
}

.info-area button {
  margin-top: 15px;
  padding: 15px;
  background-color: #ccc;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}

.info-area button.save {
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  background-color: rgb(155, 185, 141);
  transition: all 0.5s;
  cursor: pointer;
  border: none;
}

.burguer-list {
  margin: 40px 0;
  display: flex;
  width: 100%;
}

.burguer-list .item {
  border: 1px solid #555;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  margin: 0 10px;
}